.search-bar {
    padding: 40px;
    margin: auto;
    width: 95%;
}
.suggestions {
    background-color: ghostwhite;
    border-radius: 10px;
    transition: ani 1s ease-in-out;
}
.list  {
    background-color: rgb(12, 11, 11);
}
@keyframes ani {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

