

*{
  margin: 0%;
  border: 0%;
  box-sizing: border-box;
}
.top-section {
  overflow-x: hidden;
}

.backwardBtn:hover {
  color: white;
  cursor: pointer;
}
.forwardBtn:hover {
  color: white;
  cursor: pointer;
}
.playButton:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all ease-in 1s;
}

.top-main {
  background-image: url(https://cdn.pixabay.com/photo/2015/04/15/09/47/men-723557_1280.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.block {
  transition: all ease-in-out 0.5s;
}

.bubble {
  border-radius:20px;
  background-color: thistle;
  transform: rotate(360deg);
 
}


