

*{
  margin: 0%;
  border: 0%;
  box-sizing: border-box;
}
.top-section {
  overflow-x: hidden;
}

.backwardBtn:hover {
  color: white;
  cursor: pointer;
}
.forwardBtn:hover {
  color: white;
  cursor: pointer;
}
.playButton:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all ease-in 1s;
}

